{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'signup/signup.css' %}" />


<div class = "container">
	<div id= "header" style="margin-left:20%;">
		<marquee behaviour="scroll" direction="left" width="70%"><h1>WELCOME TO THE ONLINE AUCTION SYSTEM</h1></marquee>
		<h2 style="margin-left:20%;">PLEASE SIGNUP OR LOGIN</h2>
	</div>

	<div class = "forms">
		<table id = "try">
			<tr >
			<th class="shake" colspan = "2" align="center"><a href="{% url 'signup:signUpPage' %}">SIGNUP</a></th>
			<th colspan = "2" align="center"></th>
			<th class="shake" colspan = "2" align="center"><a href="{% url 'signup:LoginForm' %}">LOGIN</a></th>
			</tr>
		</table>
	
	</div>



</div>