{% extends 'signup/base.html' %}

{% block content %}
<div class = "container">
	<div id= "header">
		<h1>LOGIN PAGE</h1>
	</div>
	<form method="post">
		{% csrf_token %}
		<div class = "forms">
			<table id = "try">
				{{form}}
				<tr><td colspan = "2" align="center"><input type="submit" value="Submit" /></td></tr>
                <tr id="return"><td colspan = "2" align="center"><a href="{% url 'signup:signUpPage' %}">Go To Signup Page</a></td></tr>
			</table>
		
		</div>

	</form>

</div>
{% endblock %}