{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'signup/signup.css' %}" />



<form action="{% url 'signup:signUp' %}" method="post">
{% csrf_token %}
<div class = "forms">
	<table>
	<tr><td><label for="{{form.userName.id_for_label}}">UserName:</label></td><td>{{form.userName}}</td></tr>
	<tr><td><label for="{{form.name.id_for_label}}">Name:</label></td><td>{{form.name}}</td></tr>
	<tr><td><label for="{{form.password.id_for_label}}">Password:</label></td><td>{{form.password}}</td></tr>
	<tr><td><label for="{{form.email.id_for_label}}">E-Mail:</label></td><td>{{form.email}}</td></tr>
	</table>
	<input type="submit" value="Submit" />
</div>

</form>