{% extends 'signup/base.html' %}
{% block content %}


<div class = "container">
	<div id= "header">
		<h1>SIGNUP PAGE</h1>
	</div>
	<form method="post">
		{% csrf_token %}

		<div class = "forms">
			<table id = "try">
                 {{form}}
                <tr><td colspan = "2" align="center"><input  id = "sub" type="submit" value="Submit" /></td></tr>
                <tr id="return"><td colspan = "2" align="center"><a href="{% url 'signup:LoginForm' %}">Go To Login Page</a></td></tr>
				<tr>
				<td id = "msg" colspan = "2" align="center"></td>
				</tr>
				<tr>
				<td id = "msg2" colspan = "2" align="center"></td>
				</tr>
			</table>

		</div>

	</form>

</div>

<script type="text/javascript">
function checkEmail(ele)
{	
	var sub = document.getElementById("sub");
	var msg = document.getElementById("msg");
	var user = document.getElementById("id_userName")
	if(validateEmail(ele.value) == true)
	{
		msg.innerHTML = "VALID EMAIL";
		msg.style.color = "green";
		sub.disabled = false;
	}
	else
	{
		msg.innerHTML = "INVALID EMAIL ID";
		msg.style.color = "red";
		sub.disabled = true;
	}
}
function checkUserName(ele)
{	
	var sub = document.getElementById("sub");
	var msg = document.getElementById("msg2");
	var email = document.getElementById("id_email")
	if(validateUserName(ele.value) == true)
	{
		msg.innerHTML = "VALID USERNAME";
		msg.style.color = "green";
		sub.disabled = false;
	}
	else
	{
		msg.innerHTML = "INVALID USERNAME";
		msg.style.color = "red";
		sub.disabled = true;
	}
}
function validateEmail(elementValue){        
   var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;  
   return emailPattern.test(elementValue);   
 }   
function validateUserName(elementValue){        
   var UserNamePattern = /^[a-zA-Z0-9._-]{3,15}$/;  
   return UserNamePattern.test(elementValue);   
 }  

</script>


{% endblock %}


