{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'portal/main.css' %}" />

{% if messages %}
    <div id="message">
{% for message in messages %}
   <h3> {{ message }}</h3>
{% endfor %}
    </div>
{% endif %}
<div>
				<div id = "top">
					<h1 style = "text-align:center">
					ADMIN PORTAL
					</h1>
					<h3>Welcome Admin</h3>
				</div>


				<div id = "navigate">
					<h4 align = "center">JUMP TO</h4>

					<ul>
					<li><a class = "try" href="{% url 'portal:adminPage' %}"><b>Home</b></a></li>
                     <li><a class = "try" href="{% url 'signup:logout' %}"><b>LOGOUT</b></a></li>

					</ul>
				</div>
</div>


<div  id="table">
<table>
    <tr>
        <th>Username</th>
        <th>Name</th>
    </tr>
    {% for item in details %}
    <tr> 
        <td>{{ item.userName }}</td>
        <td>{{ item.name }}</td>
        <td>
           <a href="showArticles/{{item.id}}">Show Articles</a>
         </td>
        <td>
           <a href="delete/{{item.id}}">Delete</a>
         </td>
        <td>
           <a href="ban/{{item.id}}">Ban</a>
        </td>
     </tr>
    {% endfor %}
</table>
</div>

