{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'portal/main.css' %}" />


<div>
				<div id = "top">
					<h1 style = "text-align:center">
					ADMIN PORTAL
					</h1>
					<h3>Welcome {{userName}}</h3>
				</div>


				<div id = "navigate">
					<h4 align = "center">JUMP TO</h4>

					<ul>
					<li><a class = "try" href="{% url 'portal:RegForm' %}"><b>ADD ARTICLE</b></a></li>
					<li><a class = "try" href="{% url 'signup:VisaForm' %}"><b>VISA REGISTER</b></a></li>
					<li><a class = "try" href="#post3"><b>HELLO ALL :)</b></a></li>
					<li><a class = "try" href="#post4"><b>RANDOM POST</b></a></li>
					<li><a class = "try" href="{% url 'signup:logout' %}"><b>LOGOUT</b></a></li>

					</ul>
				</div>
</div>
</div>

<div  id="table">
<table>
    <tr>
        <th>Username</th>
        <th>Name</th>
    </tr>
    {% for item in details %}
    <tr> 
        <td>{{ item.userName }}</td>
        <td>{{ item.name }}</td>
        <td>
           <a href="showArticles/{{item.id}}">Show Articles</a>
         </td>
        <td>
           <a href="delete/{{item.id}}">Delete</a>
         </td>
        <td>
           <a href="ban/{{item.id}}">Ban</a>
        </td>
     </tr>
    {% endfor %}
</table>
</div>

