{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'portal/main.css' %}" />


				<div id = "top">
					<h1 style = "text-align:center">
					USER PORTAL
					</h1>
					<h1>welcome {{userName}}</h1>
				</div>
				

<div class = "container">
	<div id= "header">
		<h1>ARTICLE REGISTER</h1>
	</div>
	<form enctype="multipart/form-data" method="post">
		{% csrf_token %}
		<div class = "forms">
			<table id = "try">
				{{form}}
				<tr><td colspan = "2" align="center"><input type="submit" value="Submit" /></td></tr>
			</table>
		
		</div>

	</form>

</div>




<div>


				<div id = "navigate">
					<h4 align = "center">JUMP TO</h4>
					
					<ul>
					<li><a class = "try" href="{% url 'portal:RegForm' %}"><b>ADD ARTICLE</b></a></li>
					<li><a class = "try" href="{% url 'signup:VisaForm' %}"><b>VISA REGISTER</b></a></li>
					<li><a class = "try" href="#post3"><b>HELLO ALL :)</b></a></li>
					<li><a class = "try" href="#post4"><b>RANDOM POST</b></a></li>
					<li><a class = "try" href="{% url 'signup:logout' %}"><b>LOGOUT</b></a></li>
					
					</ul>
				</div>
</div>