{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'portal/main.css' %}" />


<div id = "top">
	<h1 style = "text-align:center">
	USER PORTAL
	</h1>
	<h1><a class = "try" href = "{% url 'portal:index' %}">welcome {{userName}}</a></h1>
</div>

{% block content %}

{% endblock %}



<div>


				<div id = "navigate">
					<h4 align = "center">JUMP TO</h4>
					
					<ul>
					<li><a class = "try" href="{% url 'portal:RegForm' %}"><b>ADD ARTICLE</b></a></li>
					<li><a class = "try" href="{% url 'signup:VisaForm' %}"><b>VISA REGISTER</b></a></li>
					<li><a class = "try" href="{% url 'portal:userArticles' %}"><b>ARTICLES</b></a></li>
					<li><a class = "try" href="#post4"><b>RANDOM POST</b></a></li>
					<li><a class = "try" href="{% url 'signup:logout' %}"><b>LOGOUT</b></a></li>
					
					</ul>
				</div>
</div>