{% extends 'portal/base.html' %}
{% load static %}
<html>
<head>


</head>

<link rel="stylesheet" type="text/css" href="{% static 'portal/main.css' %}" />

{% block content %}


<div class = "container">
    <div id= "header">
        <h1>BID PAGE</h1>
    </div>
    <form method="post">
		{% csrf_token %}
		<div class = "forms">

			<table id = "try">
				
				<tr>
				<td colspan = "6" >
				<img id = "artImg" src="{% static 'portal/article_images/'%}{{bid.articleid.articleimage_set.reverse.0}}" alt="Image">
				</td>
				</tr>
                <tr><th colspan = "3">Article Name</th>
                <th colspan = "3">{{ bid.articleid.articlename }}</th>
                </tr>
				<tr>
				<th colspan = "1" align="left">HIGHEST</th>
				<th colspan = "3" align="center">{{bid.userid.userName}}</th>
				<th colspan = "2" align="left">{{bid.highestbid}}</th>
				</tr>
				<tr>
				<th><label for="id_highestbid">Highestbid:</label></th>
				<td>
				<input id="id_highestbid" name="highestbid" step="any" type="number"
						onkeypress = "checkHigest({{bid.highestbid}}, this)"
						onkeyup = "checkHigest({{bid.highestbid}}, this)">
				</td>
				</tr>
				<tr><td colspan = "6" align="center"><input id = "sub" type="submit" value="Submit" /></td></tr>
				<tr><td id = "msg" colspan = "6" style = "color:red;"></td></tr>
			</table>
		
		</div>

	</form>
</div>

<script >
onload();
function checkHigest(check , ele)
{	
	var btn = document.getElementById("sub");
	var msg = document.getElementById("msg");
	if(ele.value < check)
	{
		btn.disabled = true;
		msg.innerHTML = "your bid should be more than higest"
	}
	else
	{
		btn.disabled = false;
		msg.innerHTML = ""
	}
}
setTimeout(function () { location.reload(true); }, 10000);
function onload()
{

	var btn = document.getElementById("sub");
	var msg = document.getElementById("msg");
	var ele = document.getElementById("id_highestbid");
	console.log()
	if("{{userName}}" == "{{bid.articleid.userid.userName}}")
	{
		btn.disabled = true;
		ele.disabled = true;
		msg.innerHTML = "You Cannot Bid Your Own Article";
	}

}
</script>
{% endblock %}

