{% extends 'portal/base.html' %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'portal/main.css' %}" />



{% block content %}
<div class = "container">
	<div id= "header">
		<h1>ARTICLE REGISTER</h1>
	</div>
	<form enctype="multipart/form-data" method="post">
		{% csrf_token %}
		<div class = "forms">
			<table id = "try">
				{{form}}
				<tr><td colspan = "2" align="center"><input type="submit" value="Submit" /></td></tr>
			</table>
		
		</div>

	</form>

</div>

{% endblock %}