{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'portal/main.css' %}" />


<div>
				<div id = "top">
					<h1 style = "text-align:center">
					USER PORTAL
					</h1>
					<h3>welcome {{userName}}</h3>
				</div>
				

				<div id = "navigate">
					<h4 align = "center">JUMP TO</h4>
					
					<ul>
					<li><a class = "try" href="{% url 'portal:RegForm' %}"><b>ADD ARTICLE</b></a></li>
					<li><a class = "try" href="#post2"><b>PLACE BIDS</b></a></li>
					<li><a class = "try" href="#post3"><b>HELLO ALL :)</b></a></li>
					<li><a class = "try" href="#post4"><b>RANDOM POST</b></a></li>
					<li><a class = "try" href="#post5"><b>RANDOM POST2</b></a></li>
					
					</ul>
				</div>
</div>