{% extends 'portal/base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'portal/main.css' %}" />
{% block content %}


<div class = "container">
    <div id= "header">
        <h1>ARTICLES</h1>
    </div>

    <div  class = "forms">
        <table id = "try">
            <tr>
                <th colspan="2">Delete Article</th>
                <th colspan="2">Edit Article</th>
                <th colspan="2">Article Name</th>
                <th colspan="2">Category</th>
                <th colspan="4">Description</th>
                <th colspan="2">Minimum Bid</th>
                <th colspan="3">Image</th>

            </tr>
            {% for item in details %}
            <tr>
                <td colspan="2" align = "center"><a href="showArticles/{{ item.userid }}/deleteArticle/{{item.id}}">Delete</a></td>
                <td colspan="2"><a href="EditArticles/{{item.id}}">Edit</a></td>
                <td colspan="2">{{ item.articlename}}</td>
                <td colspan="2">{{ item.category }}</td>
                <td colspan="4">{{ item.desc }}</td>
                <td colspan="2">{{ item.minbid}}</td>
                <td colspan="3"><img src="{% static 'portal/article_images/'%}{{item.articleimage_set.reverse.0}}" alt="Image"></td>

            </tr>
            {% endfor %}
        </table>
    </div>

</div>
{% endblock %}