{% extends 'portal/base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'portal/main.css' %}" />



{% block content %}


<div class = "container">
    <div id= "header">
        <h1>ARTICLES</h1>
    </div>

    <div  class = "forms">
        <table id = "try">
            <tr>
                <th>Delete Article</th>
                <th>Edit Article</th>
                <th>Article Name</th>
                <th>Article Status</th>
                <th>Category</th>
                <th>Description</th>
                <th>Minimum Bid</th>
                <th>Image</th>

            </tr>
            {% for item in details %}
            <tr>
                <td><a href="showArticles/{{ item.userid }}/deleteArticle/{{item.id}}">Delete</a></td>
                <td><a href="EditArticles/{{item.id}}">Edit</a></td>
                <td>{{ item.articlename}}</td>
                <td>{{ item.status}}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.desc }}</td>
                <td>{{ item.minbid}}</td>
                <td><img src="{% static 'portal/article_images/'%}{{item.articleimage_set.reverse.0}}" alt="Image"></td>

            </tr>
            {% endfor %}
        </table>
    </div>

</div>

{% endblock %}