body
{
	background-color: #03A9F4;
}

.forms
{
	background-color: #FFFFFF;
	position: absolute;;
	top:20%;
	padding-top: 15%;
	padding-left: 40%;
	width: 100%;
	height: 50%;
}

label
{
	color:#212121;
}